name: Release Charts

on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'Release')"
    env:
      commitmsg: ${{ github.event.head_commit.message }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # step disabled
      # https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
      - name: Fetch history and commit message
        run: |
          git fetch --prune --unshallow
      #    echo ::set-env name=commitmsg::$(git log --format=%B -n 1 ${{ github.event.after }})

      - name: Configure Git
        run: |
          git config user.name "moxbot"
          git config user.email "bot@mox.sh"

      # See https://github.com/helm/chart-releaser-action/issues/6
      - name: Install Helm
        run: |
          curl -fsSLo get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Run chart-releaser
        uses: moxbot/chart-releaser-action@v1.0.0
        env:
          CR_TOKEN: "${{ secrets.CR_TOKEN }}"
